@import url("https://use.typekit.net/qwm4icu.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "bd-supper", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline: none;
}

img {
  pointer-events: none;
}

html {
  background-color: #121212;
}
