@import url("https://use.typekit.net/qwm4icu.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 150, "wght" 500;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  color: #fff;
}

a,
button {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline: none;
}

img {
  pointer-events: none;
}

html {
  background-color: #121212;
}
