@import url("https://use.typekit.net/qwm4icu.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #vantajs {
  width: 100vw;
  height: 100dvh;
  z-index: -999;
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
} */

* {
  font-family: "bd-supper", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

html {
  background-color: #121212;
}
